.home_hero {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: brightness(0.4);
  }
  .viewport-header {
    position: absolute;
    text-align: center;
    display: flex;
    color: white;
    font-family: "Roboto", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header-column{
      width: 50%;
    }
    
    @include responsive(small){
      flex-direction: column;
        .header-column{
          width: 100%;
        }
    }
  }

