#send-help-form{
    .phone_number_input, .contry_select{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }

    .submit_button .submit_btn{
        height: 50px;
        width: 100%;
        margin-top: 10px;
    }
    
    .btn-grad {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
    .btn-grad {
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #363636;
       border-radius: 10px;
       display: block;
       border: none;
       cursor: pointer
     }

     .btn-grad:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
}